// *----------------------------------*\
//  Settings > Grid
// *----------------------------------*/

$grid-width: 1220px;
$grid-outer-gutter: $space-16;
$grid-column-medium-gutter: $space-16;
$grid-column-large-gutter: $space-24;