/*------------------------------------*\
  Components > Archive
\*------------------------------------*/

.c-archive {
  margin-bottom: $space-24;
  padding-bottom: $space-24;
  border-bottom: 1px solid var(--color-border);

  @include mq($from: desktop) {
    margin-bottom: $space-40;
    padding-bottom: $space-40;
  }

  &--no-border {
    margin-bottom: 0;
    border-bottom: 0;
  }

  &__title {
    font-size: $type--h-sm;
    line-height: $type--h-sm-lh;
    letter-spacing: - $global-letter-spacing;
  }

  &__description {
    font-size: $type-lg;
    line-height: $type-lg-lh;
    margin-top: $space-8;

    @include mq($from: desktop) {
      font-size: $type-xl;
      line-height: $type-xl-lh;
      margin-top: $space-16;
    }

    &:empty {
      display: none;
    }
  }
}


.c-archive-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 36px 0;

  > div:nth-child(odd) {
    padding-right: 10px;
  }

  > div:nth-child(even) {
    padding-left: 10px;
  }

  @include mq($until: mobile) {
    grid-template-columns: 1fr;
  }

  @include mq($from: desktop) {
    grid-template-columns: repeat(3, 1fr);
    gap: 52px 46px;

    > div:nth-child(1n),
    > div:nth-child(2n) {
      padding: 0;
    }
  }

  &__outer {
    margin-bottom: 32px;

    @include mq($from: desktop) {
      margin-bottom: 40px;
    }
  }
}