<div style="display:none !important;">{{product_categories}}</div>
<div class="s-products-navigation__container">
        <div class="s-products-navigation">
          <ul class="s-products-navigation__list">
            <li class="s-products-navigation__item s-products-navigation__item--{{slug}}">{{#link href="/shop"
    class="s-products-navigation__link" activeClass="s-products-navigation__link--current"}}전체보기{{/link}}</li>
{{#foreach product_categories}}
<li class="s-products-navigation__item s-products-navigation__item--{{slug}}">{{#link href=(url)
    class="s-products-navigation__link" activeClass="s-products-navigation__link--current"}}{{label}}{{/link}}</li>
{{/foreach}}
          </ul>
        </div>
      </div>
